@media (min-width: 320px) and (max-width: 490px) {
    h1 {
        font-size: 40px;
    }

    h3 {
        text-align: left;
    }

    .main-content-home {
        margin: 30px 16px;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 2fr));
        grid-column-gap: 30px;
        grid-row-gap: 30px;
        margin-top: 30px;

        a {
            text-decoration: none;
        }
    }

    .card {
        width: 100%;
        height: 640px;
        border-radius: 10px;
        transition: 0.3s;
        box-shadow: 11px 14px 58px -3px rgba(168, 168, 168, 1);
        transition-timing-function: ease-out;
        mix-blend-mode: luminosity;
        text-decoration: none;
    }
    
    .card img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }
    
    .card:hover {
        mix-blend-mode: normal;
        transition: 0.3s;
        transform: scale(1);
    }
    
    .text-content {
        position: relative;
        top: -100%;
    }

    #cursor-pointer {
        display: none;
    }

    .link-business {
        font-size: 40px;
    }

    /* Project Pixel: Level Zero Marketplace */
    .side-bar-section {
        display: none;
    }

    .position-elements,
    .csd,
    .porter,
    .competitive,
    .questions-quali,
    .questions-quant,
    .define-phase,
    .empathy-map,
    .user-joruney,
    .user-flow,
    .architecture,
    .design-system,
    .design-section,
    .hi-fi,
    .hi-fi-ui-design {
        padding: 30px 16px;
    }

    /* Ir arrumando esporadicamente */

    .categories-porter {
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    }

    .position-elements {
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    }

    .phone {
        margin-top: 30px;
    }

    /* Análise competitiva */

    .status-competitive {
        margin: 60px 0px;
    }

    .table-one,
    .table-two,
    .table-three,
    .table-four {
        width: 100%;
        height: 100px;

        img {
            object-fit: contain;
            width: 30px;
            height: 30px;
        }
    }

    .side-bottom,
    .side-top {
        font-size: 09px;
    }

    th {
        font-size: 12px;
    }

    td {
        font-size: 10px;
    }

    .company {
        img {
            width: 100%;
            height: 100%;
        }
    }

    /* Análise quantitativa e qualitativa */

    .display-grid-questions {
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    }

    .list-stylized {
        flex-direction: column;
        align-items: flex-start;
    }

    .graph-q-one {
        justify-content: center;
    }

    .pain-points {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        text-align: center;
    }

    /* Personas */

    .personas-position-container {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    .bg-person {
        flex-direction: column;
    }

    .column-one {
        width: 100%;
    }

    /* Mapa de empatia */
    .content-empathy {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        grid-template-rows: repeat(2, 1fr);
        border: 1px solid var(--border-color);
        position: relative;
        margin-top: 60px;
    }

    .column-empathy {
        position: relative;
        padding: 20px;
        margin: 10px;
        border: 1px solid var(--border-color);
        border-radius: 30px;
        background-color: var(--section-secondary);
    }

    .img-persona {
        position: absolute;
        width: 80px;
        border-radius: 100%;
        transform: translate(-50%, -50%);
        border: 2px solid var(--border-color);
        top: 0;
        left: 50%;
        z-index: 100;
    }


    .whole-content {
        display: grid;
        text-align: center;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(1, 1fr);
        gap: 10px;
    }

    .container {
        border: 1px solid var(--border-color);
        box-shadow: var(--box-shadow);
        border-radius: 20px;
        font-size: 14px;
        padding: 10px;
        display: flex;
        align-items: center;
    }

    .title-project {
        font-size: 20px;
    }

    .see-also {
        font-size: 16px;
    }

    /* Veja também os próximos projetos */

    .next-project {
        flex-direction: column;
    }

    .project {
        height: 100vh;
    }

    /* Sobre */

    .hero-section {
        position: relative;
        height: 100vh;
        width: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            -webkit-mask-image: linear-gradient(270deg, transparent, #fff 100%, #fff 0%, transparent);
            mask-image: linear-gradient(270deg, transparent, #fff 100%, #fff 0%, transparent);
            mask-image: linear-gradient(270deg, transparent, #fff 100%, #fff 0%, transparent);
            mask-image: linear-gradient(270deg, transparent, #fff 100%, #fff 0%, transparent);
            mask-image: linear-gradient(270deg, transparent, #fff 100%, #fff 0%, transparent);
            mask-image: linear-gradient(270deg, transparent, #fff 100%, #fff 0%, transparent);
            mask-image: linear-gradient(270deg, transparent, #fff 100%, #fff 0%, transparent);
            mask-image: linear-gradient(270deg, transparent, #fff 100%, #fff 0%, transparent);
            mask-image: linear-gradient(270deg, transparent, #fff 100%, #fff 0%, transparent);
        }
    }

    .title {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        font-size: 60px;
        font-weight: bold;
        text-align: center;
    }

    .content-about-me {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 2fr;
        margin: 40px 0px;
    }

    .content-about-me img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .content-about-me p {
        font-size: 40px;
        letter-spacing: -2px;
        padding: 0px;
        margin: 0;
    }

    .spotlight {
        font-weight: bolder;
        color: #f86f2f;
    }

    .section-two {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            -webkit-mask-image: linear-gradient(270deg, transparent, #fff 100%, #fff 0%, transparent);
            mask-image: linear-gradient(270deg, transparent, #fff 100%, #fff 0%, transparent);
            mask-image: linear-gradient(270deg, transparent, #fff 100%, #fff 0%, transparent);
            mask-image: linear-gradient(270deg, transparent, #fff 100%, #fff 0%, transparent);
            mask-image: linear-gradient(270deg, transparent, #fff 100%, #fff 0%, transparent);
            mask-image: linear-gradient(270deg, transparent, #fff 100%, #fff 0%, transparent);
            mask-image: linear-gradient(270deg, transparent, #fff 100%, #fff 0%, transparent);
            mask-image: linear-gradient(270deg, transparent, #fff 100%, #fff 0%, transparent);
            mask-image: linear-gradient(270deg, transparent, #fff 100%, #fff 0%, transparent);
        }

    }

    .timeline__section{
        grid-template-columns: auto 5px auto ;
    }

    .title-main {
        font-size: 10px;
    }

    .timeline__date {
        display: flex;
        flex-direction: column;
        align-items: center; 
        justify-content: center; 
        text-align: center; 
        margin: 0 auto; 
      }
      
    

    .date {
        font-family: "Mulish", sans-serif;
        font-size: 14px;
        white-space: nowrap;
    }

    .timeline__left {
        font-size: 18px;
        display: none;
    }

    .timeline__content {
        font-size: 18px;
        color: var(--color-grey);
        font-family: "Mulish", sans-serif;
        transition: color 1s cubic-bezier(0, 0.39, 0.58, 1);
    }

    .timeline__right {
        display: flex;
        flex-direction: column;
      }

    .timeline__right>div{
        padding-left: 10px;
    }

    /* Contatos */

    .contanct-me {
        text-align: center;
    }

    .button-media {
        text-align: center;
        font-size: 16px;
    }

}

@media (min-width: 491px) and (max-width: 1024px){
    .position-elements{
        padding: 20px 20px 80px 20px;
    }

    
}

@media (min-width: 1025px) and (max-width: 1114px) {
    h1 {
        font-size: 40px;
    }

    h3 {
        text-align: left;
    }

    .main-content-home {
        margin: 30px 16px;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 2fr));
        grid-column-gap: 30px;
        grid-row-gap: 30px;
        margin-top: 30px;

        a {
            text-decoration: none;
        }
    }

    #cursor-pointer {
        display: none;
    }

    .link-business {
        font-size: 40px;
    }

    /* Project Pixel: Level Zero Marketplace */
    .side-bar-section {
        display: none;
    }
    
    .csd,
    .porter,
    .competitive,
    .questions-quali,
    .questions-quant,
    .define-phase,
    .empathy-map,
    .user-joruney,
    .user-flow,
    .architecture,
    .design-section,
    .design-system,
    .hi-fi-ui-design {
        padding: 30px 16px;
    }

    /* Ir arrumando esporadicamente */

    .categories-porter {
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    }

    .position-elements {
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    }

    .phone {
        margin-top: 30px;
    }

    /* Análise competitiva */

    .status-competitive {
        margin: 60px 0px;
    }

    .table-one,
    .table-two,
    .table-three,
    .table-four {
        width: 100%;
        height: 200px;

        img {
            object-fit: contain;
            width: 60px;
            height: 60px;
        }
    }

    .side-bottom,
    .side-top {
        font-size: 12px;
    }

    th {
        font-size: 12px;
    }

    td {
        font-size: 10px;
    }

    .company {
        img {
            width: 100%;
            height: 100%;
        }
    }

    /* Análise quantitativa e qualitativa */

    .display-grid-questions {
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    }

    .list-stylized {
        flex-direction: column;
        align-items: flex-start;
    }

    .graph-q-one {
        justify-content: center;
    }

    .pain-points {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        text-align: center;
    }

    /* Personas */

    .personas-position-container {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    .bg-person {
        flex-direction: column;
    }

    .column-one {
        width: 100%;
    }

    /* Mapa de empatia */
    .content-empathy {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        grid-template-rows: repeat(2, 1fr);
        border: 1px solid var(--border-color);
        position: relative;
        margin-top: 60px;
        box-shadow: var(--box-shadow);
    }

    .column-empathy {
        position: relative;
        padding: 20px;
        margin: 10px;
        border: 1px solid var(--border-color);
        border-radius: 30px;
        background-color: var(--section-secondary);
    }

    .img-persona {
        position: absolute;
        width: 80px;
        border-radius: 100%;
        transform: translate(-50%, -50%);
        border: 2px solid var(--border-color);
        top: 0;
        left: 50%;
        z-index: 100;
    }


    .whole-content {
        display: grid;
        text-align: center;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(1, 1fr);
        gap: 10px;
    }

    .container {
        border: 1px solid var(--border-color);
        border-radius: 20px;
        font-size: 14px;
        padding: 10px;
        display: flex;
        align-items: center;
    }

    .img-magnifier-glass {
        width: 90px;
        height: 90px;
    }

    .title-project {
        font-size: 20px;
    }

    .see-also {
        font-size: 16px;
    }

    /* Veja também os próximos projetos */

    .next-project {
        flex-direction: column;
    }

    .project {
        height: 100vh;
    }


    /* Sobre */

    .hero-section {
        position: relative;
        height: 100vh;
        width: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
        }
    }

    .title {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        font-size: 70px;
        font-weight: bold;
        text-align: center;
    }

    .text-content {
        top: -100%;
    }

    .content-about-me {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 2fr;
        margin: 80px 0px;
    }

    .content-about-me img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .content-about-me p {
        font-size: 40px;
        letter-spacing: -2px;
        padding: 0px;
        margin: 0;
    }

    .spotlight {
        font-weight: bolder;
        color: #f86f2f;
    }

    .content-about-me-education {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 40px;
        margin: 40px 0px;
    }

    .content-about-me-education h2 {
        font-size: 40px;
        letter-spacing: -2px;
    }

    .content-about-me-education p {
        font-size: 30px;
        letter-spacing: -2px;
    }

    /* Contatos */

    .contanct-me {
        text-align: center;
    }

    .button-media {
        text-align: center;
        font-size: 16px;
    }

}

@media (min-width: 2560px){
    .main-content-home,
    .marquee{
        padding-left: 10%;
        padding-right: 10%;
    }
    .position-elements,
    .csd,
    .porter,
    .competitive,
    .questions-quali,
    .questions-quant,
    .define-phase,
    .empathy-map,
    .user-joruney,
    .user-flow,
    .architecture,
    .design-section,
    .hi-fi,
    .design-system,
    .hi-fi-ui-design {
        padding-left: 25%;
        padding-right: 20%;
    }
}