@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0%;
}

body {
    background-color: var(--body-bg);
}

/* Themes */

.theme {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 2px solid #a9a9aa;
}

.theme:hover {
    border: 2px solid #f86f2f;
}

.themes .theme:nth-child(1) {
    background-color: #ddd;
}

.themes .theme:nth-child(2) {
    background-color: #333;
}

.themes .theme:nth-child(3) {
    background-color: rgb(172, 26, 128);
}


.themes {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 0px 10px 0px;
}

.main-content-home,
.main-content-about {
    margin: 60px 100px;
}

.works {
    height: 100%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 2fr));
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    margin-top: 60px;

    a {
        text-decoration: none;
    }
}

.card {
    width: 100%;
    height: 640px;
    border-radius: 10px;
    transition: 0.3s;
    box-shadow: 11px 14px 58px -3px rgba(168, 168, 168, 1);
    text-decoration: none;
    mix-blend-mode: luminosity;
}

.card img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.card:hover {
    mix-blend-mode: normal;
    transition: 0.3s;
}

.text-content {
    position: relative;
    top: -100%;

    h4 {
        color: #f86f2f;
    }
}

.marquee {
    display: flex;
    position: relative;
    flex-direction: column;
    overflow: hidden;
    -webkit-mask-image: linear-gradient(45deg, transparent, #fff 90%, #fff 90%, transparent);
    margin: 190px 0px 190px 0px;
}

.marquee-content span {
    font-family: "Mulish", sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 46px;
    letter-spacing: -4px;
    color: var(--text-color);
}

.marquee-content {
    display: flex;
    gap: 30px;
    white-space: nowrap;
}

.marquee-content:first-child {
    animation: marqueeLeft 30s linear infinite;
    animation-play-state: paused;
}

.marquee-content:last-child {
    animation: marqueeRight 30s linear infinite;
    animation-play-state: paused;
}

.marquee-content:nth-child(2) {
    align-items: center;
    justify-content: center;
}

@keyframes marqueeLeft {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(100%);
    }
}

@keyframes marqueeRight {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-100%);
    }
}

.marquee-content:hover {
    animation-play-state: running;
}


/* Sobre */

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 190px;
    font-weight: bold;
    text-align: center;
}

.hero-section {
    position: relative;
    height: 100vh;
    width: 100%;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        -webkit-mask-image: linear-gradient(270deg, transparent, #2e2d2d 100%, #464545 0%, transparent);
        top: -50px;
    }
}

/* .content-about-me {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 2fr;
    grid-column-gap: 100px;
    margin: 40px 0px;
}

.content-about-me img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.content-about-me p {
    font-size: 60px;
    letter-spacing: -2px;
    padding: 0px;
    margin: 0;
}

.spotlight {
    font-weight: bolder;
    color: #f86f2f;
} */

/* .content-about-me-education {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 100px;
    margin: 40px 0px;
}

.content-about-me-education h2 {
    font-size: 60px;
    letter-spacing: -2px;
}

.content-about-me-education p {
    font-size: 60px;
    letter-spacing: -2px;
} */

  .timeline {
    max-width: 1000px;
    margin: 0 auto;
    background-color: var(--body-bg);
    color: var(--text-color);
  }
  
  .spotlight {
    font-weight: bolder;
    color: #f86f2f;
 }

  .timeline__section {
    display: grid;
    grid-template-columns: auto 5px 50px auto;
    align-items: start;
    position: relative;
  }
  
  .timeline__left {
    font-size: 2.5rem;
    text-align: right;
    text-transform: uppercase;
  }

  .timeline__left{
    display: flex;
  }
  
  .timeline__left,
  .timeline__middle,
  .timeline__tracker {
    position: sticky;
    top: var(--sticky-top-pos);
  }
  
  .timeline__left,
  .timeline__middle {
    margin-bottom: var(--buffer);
  }
  
  .timeline__date {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    width: 200px; 
    min-height: 100px;
    box-sizing: border-box; 
    text-align: right; 
}

.title-main {
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
}

.date {
    white-space: nowrap; /* Impede quebra de linha */
}

  .timeline__right > div {
    background-color: var(--color-timeline);
    padding-bottom: var(--buffer);
    padding-left: 45px;
    margin-left: 4px;
  }
  
  .timeline__date > div:first-child {
    font-size: 1.3rem;
    font-family: "Mulish", sans-serif;
  }

  
  .timeline__bullet {
    --bullet-dims: 20px;
    background-color: #f86f2f;
    width: var(--bullet-dims);
    height: var(--bullet-dims);
    border-radius: 100%;
    transform: translateX(calc(var(--bullet-dims) / 2 + 2px));
    float: right;
  }
  
  .timeline__content {
    font-size: 3rem;
    color: var(--color-grey);
    font-family: "Mulish", sans-serif;
    transition: color 1s cubic-bezier(0, 0.39, 0.58, 1);
  }
  
  .animate-on-scroll {
    color: var(--text-color);;
  }

/* Footer */

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--section-secondary);
    height: 100vh;
}

.contanct-me {
    font-family: "Mulish", sans-serif;
    font-weight: 400;
    font-size: 60px;
    letter-spacing: -1px;
    color: var(--title);
}


.position-buttons-social {
    display: flex;
    gap: 50px;
    margin-top: 60px;
}

.social-media {
    overflow: hidden;
    padding-bottom: 10px;
    position: relative;
}

.button-media {
    font-family: "Mulish", sans-serif;
    font-weight: 100;
    font-size: 28px;
    color: var(--text-color);
    text-decoration: none;
}

.line-bottom {
    width: 100%;
    height: 2px;
    background-color: #f86f2f;
    position: absolute;
    left: -100%;
    transition: 0.3s ease-in-out;
}

.button-media:hover+.line-bottom {
    left: 0%;
}

/* Divider */

.divider {
    border: 1px solid var(--divider);
}

/* Titles */

:root {
    --body-bg: #fafafa;
    --header-color: #ffffff;
    --icon-color: #000;
    --color-timeline: #fafafa;
    --color-white: rgb(175, 109, 109);
    --color-grey: #2e2e2e;
    --sticky-top-pos: 30vh;
    --buffer: 5rem;


    --color-grey: #b8b8b8;
    --sticky-top-pos: 30vh;
    --buffer: 5rem;


    --title: #000;
    --sub-title: #a1a1a1;
    --text-color: #000;
    --link: #1331df;

    --divider: #f8f5f5;
    --border-color: #d4d4d4;
    --box-shadow: 4px 17px 44px 8px rgba(243, 234, 234, 0.51);
    --card-bg-color: #ffffff;

    --section-primary: #ffffff;
    --section-secondary: #ffffff;

    --positive: #fff;
    --alert: #fff;
    --negative: #fff
}

.dark {
    --body-bg: #111111;
    --header-color: #181818f5;
    --icon-color: #f3f3f3;
    --link: #22c8fa;
    --color-timeline: #111111;
    --color-white: rgb(175, 109, 109);
    --color-grey: #2e2e2e;
    --sticky-top-pos: 30vh;
    --buffer: 5rem;

    --title: #cecece;
    --sub-title: #686868;
    --text-color: #d1cccc;

    --divider: #2c2c2c;
    --border-color: #444444;
    --box-shadow: 4px 17px 44px 8px rgba(51, 51, 51, 0.51);
    --card-bg-color: #202020;

    --section-primary: #313030;
    --section-secondary: #181818;

    --positive: #fff;
    --alert: #fff;
    --negative: #fff;
}

p {
    font-family: "Mulish", sans-serif;
    font-size: 16px;
    font-optical-sizing: auto;
    line-break: auto;
    margin: 20px 0px 20px 0px;
    color: var(--text-color);
}

h1 {
    font-family: "Mulish", sans-serif;
    font-weight: 700;
    font-size: 60px;
    letter-spacing: -2px;
    color: var(--title);
    margin: 40px 0px 40px 0px;
}

.link-business {
    font-family: "Mulish", sans-serif;
    font-weight: 700;
    font-size: 60px;
    letter-spacing: -2px;
    text-transform: none;
    text-decoration: underline;
    color: #a7a3a3;
}

h2 {
    font-family: "Mulish", sans-serif;
    font-weight: 700;
    font-size: 38px;
    letter-spacing: -1px;
    color: var(--title);
    margin: 10px 0px 10px 0px;
}

h3 {
    font-family: "Mulish", sans-serif;
    font-weight: 700;
    font-size: 22px;
    letter-spacing: -1px;
    color: var(--title);
    margin: 10px 0px 10px 0px;
}

h4 {
    font-family: "Mulish", sans-serif;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: -2px;
    text-transform: none;
    color: var(--title);
    margin: 10px 10px 10px 10px;
}

h6 {
    font-family: "Mulish", sans-serif;
    font-weight: 700;
    font-size: 18px;
    font-style: italic;
    letter-spacing: -1px;
    color: var(--title);
}

.description {
    color: var(--text-color);
    font-family: "Mulish", sans-serif;
}

/* Mouse */

#cursor-pointer {
    position: fixed;
    pointer-events: none;
    background-color: #ff2600;
    border-radius: 100%;
    mix-blend-mode: color-dodge;
    width: 40px;
    height: 40px;
    z-index: 9999;
}