@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0%;
}

body {
    background-color: var(--body-bg);
}

/* Audio */

.controler-audio{
    display: flex;
    position: fixed;
    right: 0px;
    top: 50%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 80px;
    opacity: 0.4;
    transition: 0.6s ease-in-out;
}

.controler-audio:hover{
    opacity: 1;
    transition: 0.6s ease-in-out;
}

#volumeSlider{
    transform: rotate(-90deg);
}

button{
    all: unset;
}

#pause-play {
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    position: relative;
    border-radius: 100%;
    border: 1px solid var(--border-color);
    transition: transform 0.6s ease-in-out;
}

.icon-play {
    position: absolute;
    border-top: 10px solid transparent;
    border-left: 14px solid var(--icon-color);
    border-bottom: 10px solid transparent;
    border-radius: 4px;
    transition: transform 0.6s ease-in-out;
}

.icon-pause {
    display: none;
    position: absolute;
    gap: 4px;
    transition: transform 0.6s ease-in-out;
}

#pause-play.play .icon-play {
    position: absolute;
    transform: translateX(200%);
}

#pause-play.play .icon-pause {
    display: flex;
    transform: translateX(0);
    
}

.rectangle-shape{
    width: 4px;
    height: 16px;
    background-color: var(--icon-color);
    border-radius: 4px;
}

/* Themes */

.theme {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 2px solid #a9a9aa;
}

.theme:hover {
    border: 2px solid #f86f2f;
}

.themes .theme:nth-child(1) {
    background-color: #ddd;
}

.themes .theme:nth-child(2) {
    background-color: #333;
}

/* Blue Color */
.themes .theme:nth-child(3) {
    background-color: rgb(57, 2, 2);
}

.themes {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 0px 10px 0px;
}

.main-content-home, .main-content-about{
    margin: 60px 100px;
}

.works {
    height: 100%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 2fr));
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    margin-top: 60px;

    a {
        text-decoration: none;
    }
}

.card {
    width: 100%;
    height: 640px;
    border-radius: 10px;
    transition: 0.3s;
    box-shadow: 11px 14px 58px -3px rgba(168, 168, 168, 1);
    transition-timing-function: ease-out;
    mix-blend-mode: luminosity;
    text-decoration: none;
}

.card img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.card:hover {
    mix-blend-mode: normal;
    transition: 0.3s;
    transform: scale(1);
}

.text-content {
    position: relative;
    top: -100%;
    left: 0px;

    h4 {
        color: #f86f2f;
    }
}

.marquee {
    display: flex;
    position: relative;
    flex-direction: column;
    overflow: hidden;
    -webkit-mask-image: linear-gradient(45deg, transparent, #fff 90%, #fff 90%, transparent);
}

.marquee-content span {
    font-family: "Mulish", sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 46px;
    letter-spacing: -4px;
    color: var(--text-color);
}

.marquee-content {
    display: flex;
    gap: 20px;
    white-space: nowrap;
}

.marquee-content:first-child {
    animation: marqueeLeft 30s linear infinite;
}

.marquee-content:last-child {
    animation: marqueeRight 40s linear infinite;
}

.marquee-content:nth-child(2) {
    align-items: center;
    justify-content: center;
}

@keyframes marqueeLeft {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-100%);
    }
}

@keyframes marqueeRight {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(-100%);
    }
}

.marquee-content:hover{
    animation-play-state: paused;
}

/* Sobre */

.title{
    font-size: 190px;
    font-weight: bold;
    margin: 0;
}

.hero-section{
    position: relative;
    height: 100vh;
    margin: 60px 200px;
    img{
        width: 100%;
        height: 100%;
        opacity: 0.4;
        -webkit-mask-image: linear-gradient(95deg, transparent, #fff 100%, #fff 0%, transparent);
        object-fit: contain;
    }
}

.text-content{
    display: flex;
    flex-direction: column-reverse;
    text-align: left;
    position: absolute;
    transform: translate(0, -50%);
    top: 50%;
    -webkit-mask-image: linear-gradient(225deg, transparent, #552dc2 70%, #0987ad 30%, transparent);
}

.section-one {
    -webkit-mask-image: linear-gradient(270deg, transparent, #fff 100%, #fff 0%, transparent);
    opacity: 0.9; /* Opacidade inicial */
}

.content-about-me {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 2fr;
    grid-column-gap: 100px;
    margin: 40px 0px;
}

.content-about-me img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.content-about-me p {
    font-size: 60px;
    letter-spacing: -2px;
    padding: 0px;
    margin: 0;
}

.spotlight{
    font-weight: bolder;
    color: #f86f2f;
}

.section-two{
    -webkit-mask-image: linear-gradient(270deg, transparent, #fff 100%, #fff 0%, transparent);

}

.content-about-me-education{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 100px;
    margin: 40px 0px;
}

.content-about-me-education h2{
    font-size: 60px;
    letter-spacing: -2px;
}

.content-about-me-education p{
    font-size: 60px;
    letter-spacing: -2px;
}

/* Footer */

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--section-secondary);
    height: 100vh;
}

.contanct-me {
    font-family: "Mulish", sans-serif;
    font-weight: 400;
    font-size: 60px;
    letter-spacing: -1px;
    color: var(--title);
}

.position-buttons-social {
    display: flex;
    gap: 50px;
    margin-top: 60px;
}

.social-media {
    overflow: hidden;
    padding-bottom: 10px;
    position: relative;
}

.button-media {
    font-family: "Mulish", sans-serif;
    font-weight: 100;
    font-size: 28px;
    color: var(--text-color);
    text-decoration: none;
}

.line-bottom {
    width: 100%;
    height: 2px;
    background-color: #f86f2f;
    position: absolute;
    left: -100%;
    transition: 0.3s ease-in-out;
}

.button-media:hover+.line-bottom {
    left: 0%;
}

/* Divider */

.divider {
    border: 1px solid var(--divider);
}

/* Titles */

:root {
    --body-bg: #fcfcfc;
    --header-color: #ffffff;
    --icon-color: #000;

    --title: #000;
    --sub-title: #a1a1a1;
    --text-color: #000;
    --link: #1331df;

    --divider: #eeeeee;
    --border-color: #d4d4d4;
    --box-shadow: 4px 17px 44px 8px rgba(243, 234, 234, 0.51);
    --card-bg-color: #ffffff;


    --section-primary: #ffffff;
    --section-secondary: #ffffff;

    --positive: #fff;
    --alert: #fff;
    --negative: #fff
}

.dark {
    --body-bg: #111111;
    --header-color: #181818f5;
    --icon-color: #f3f3f3;
    --link: #22c8fa;

    --title: #cecece;
    --sub-title: #686868;
    --text-color: #d1cccc;

    --divider: #2c2c2c;
    --border-color: #444444;
    --box-shadow: 4px 17px 44px 8px rgba(51, 51, 51, 0.51);
    --card-bg-color: #202020;

    --section-primary: #313030;
    --section-secondary: #181818;

    --positive: #fff;
    --alert: #fff;
    --negative: #fff;
}

.red {
    --body-bg: #854646;
    --header-color: #1d1d1d00;

    --sub-title: #838383;
    --text-color: #f0f0f0;

    --divider: #3a3a3a;
    --border-color: #eeeeee;
}

p {
    font-family: "Mulish", sans-serif;
    font-size: 16px;
    font-optical-sizing: auto;
    line-break: auto;
    margin: 20px 0px 20px 0px;
    color: var(--text-color);
}

h1 {
    font-family: "Mulish", sans-serif;
    font-weight: 700;
    font-size: 60px;
    letter-spacing: -2px;
    color: var(--title);
    margin: 40px 0px 40px 0px;
}

.link-business{
    font-family: "Mulish", sans-serif;
    font-weight: 700;
    font-size: 60px;
    letter-spacing: -2px;
    text-transform: none;
    text-decoration: underline;
    color: #a7a3a3;
}

h2 {
    font-family: "Mulish", sans-serif;
    font-weight: 700;
    font-size: 38px;
    letter-spacing: -1px;
    color: var(--title);
    margin: 10px 0px 10px 0px;
}

h3 {
    font-family: "Mulish", sans-serif;
    font-weight: 700;
    font-size: 22px;
    letter-spacing: -1px;
    color: var(--title);
    margin: 10px 0px 10px 0px;
}

h4 {
    font-family: "Mulish", sans-serif;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: -2px;
    text-transform: none;
    color: var(--title);
    margin: 10px 10px 10px 10px;
}

h6 {
    font-family: "Mulish", sans-serif;
    font-weight: 700;
    font-size: 18px;
    font-style: italic;
    letter-spacing: -1px;
    color: var(--title);
}

.description {
    color: var(--text-color);
    font-family: "Mulish", sans-serif;
}

/* Mouse */

#cursor-pointer {
    position: fixed;
    pointer-events: none;
    background-color: #ff2600;
    border-radius: 100%;
    mix-blend-mode: color-dodge;
    width: 20px;
    height: 20px;
    z-index: 9999;
}